$_main_color: #ffffff;
$_main_bg_color: linear-gradient(to right, #1a3a64 1%, #209887 100%);
$_header_color: #1a3a64;
$_header_accent_color: red;
$_link_hover_color: #99d91d;
$_link_active_color: #89318c;
