.privacy-policy-container {
  max-width: 320px;
  padding: 20px 16px 60px; 
  margin: 0 auto;  
  color: #fff; 
}
.privacy-policy-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.privacy-policy-home {
  display: inline-block;
  margin-bottom: 40px;
}
.privacy-policy-home::before {
  content: '<';
  margin-right: 4px;
}

.privacy-policy h3 {
  font-family: var(--font-decor);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.privacy-policy h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 16px;
}
.privacy-policy p,
.privacy-policy ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}
.privacy-policy li {
  padding-left: 22px;
  position: relative;
}

.privacy-policy li span {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;     
}

.privacy-policy li::before {
  content: '';
  position: absolute;
  left: 9px;
  top: 9px;

  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 1px;
}

.privacy-policy-p,
.privacy-policy-list {
  margin-bottom: 16px;
}

.privacy-policy-link {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .privacy-policy-container {
    max-width: 1200px;
    padding: 80px 36px 120px;
  }
  .privacy-policy-info {
    gap: 30px;
  }
  .privacy-policy-home {
    margin-bottom: 60px;
  }

  .privacy-policy h3 {
    font-size: 36px;
    line-height: 0.83;
    margin-bottom: 40px;
  }
  .privacy-policy h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .privacy-policy p,
  .privacy-policy ul {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }

  .privacy-policy li {
    padding-left: 32px;
  }

  .privacy-policy li span {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;     
  }

  .privacy-policy li::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;

    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 1px;
  }
  .privacy-policy-p,
  .privacy-policy-list {
    margin-bottom: 20px;
  }
}
