<section id="extrablocks">
  <div class="flashlight-container3"></div>
  <div class="container">
    <img
      class="extrablocks-icon"
      src="/img/monstr3.webp"
      alt="monstr3"
      width="20"
      height="20"
    />
    <h2 class="h2-extrablock">Extra Blocks</h2>

    <!-- Slider main container -->
    <div container-swiper>
      <div id="extrablocks-swiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="extrablocks-card">
              <picture>
                <!-- mobile -->
                <source
                  media="(max-width: 768px)"
                  srcset="
                    /img/extrablocks/rectangle-mobile1x.webp 1x,
                    /img/extrablocks/rectangle-mobile2x.webp 2x
                  "
                />
                <!-- Destkop -->
                <source
                  media="(min-width: 769px)"
                  srcset="
                    /img/extrablocks/rectangle-desktop1x.webp 1x,
                    /img/extrablocks/rectangle-desktop2x.webp 2x
                  "
                />
                <img
                  class="rectangle-img"
                  src="/img/extrablocks/extrablock1-mobile1x.webp"
                  alt="rectangle-img"
                  width="20"
                  height="20"
                />
              </picture>
              <h3 class="title-card">Magical Events</h3>
              <picture>
                <!-- mobile -->
                <source
                  media="(max-width: 768px)"
                  srcset="
                    /img/extrablocks/extrablock1-mobile1x.webp 1x,
                    /img/extrablocks/extrablock1-mobile2x.webp 2x
                  "
                />
                <!-- Destkop -->
                <source
                  media="(min-width: 769px)"
                  srcset="
                    /img/extrablocks/extrablock1-desktop1x.webp 1x,
                    /img/extrablocks/extrablock1-desktop2x.webp 2x
                  "
                />
                <img
                  class="extrablocks-img"
                  src="/img/extrablock/extrablocks1-mobile1x.webp"
                  alt="extrablocks1"
                  width="20"
                  height="20"
                />
              </picture>
              <p class="extrablocks-text">
                Participate in
                <span class="extrablocks-class"
                  >Lunar Defense Nights, Crystal Harvest Weeks,&nbsp;and Beast
                  Siege Challenges</span
                >
                for exclusive loot and tower skins!
              </p>
            </div>
          </div>
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="extrablocks-card">
              <picture>
                <!-- mobile -->
                <source
                  media="(max-width: 768px)"
                  srcset="
                    /img/extrablocks/rectangle-mobile1x.webp 1x,
                    /img/extrablocks/rectangle-mobile2x.webp 2x
                  "
                />
                <!-- Destkop -->
                <source
                  media="(min-width: 769px)"
                  srcset="
                    /img/extrablocks/rectangle-desktop1x.webp 1x,
                    /img/extrablocks/rectangle-desktop2x.webp 2x
                  "
                />
                <img
                  class="rectangle-img"
                  src="/img/extrablocks/rectangle-mobile1x.webp"
                  alt="rectangle-img"
                  width="20"
                  height="20"
                />
              </picture>
              <h3 class="title-card">Moo’s Daily Wisdom</h3>
              <picture>
                <!-- mobile -->
                <source
                  media="(max-width: 768px)"
                  srcset="
                    /img/extrablocks/extrablock2-mobile1x.webp 1x,
                    /img/extrablocks/extrablock2-mobile2x.webp 2x
                  "
                />
                <!-- Destkop -->
                <source
                  media="(min-width: 769px)"
                  srcset="
                    /img/extrablocks/extrablock2-desktop1x.webp 1x,
                    /img/extrablocks/extrablock2-desktop2x.webp 2x
                  "
                />
                <img
                  class="extrablocks-img"
                  src="/img/extrablock/extrablocks2-mobile1x.webp"
                  alt="extrablocks1"
                  width="20"
                  height="20"
                />
              </picture>
              <p class="extrablocks-text">
                Every day, Moo shares a tip or riddle to help you progress and
                stay motivated. Collect daily login bonuses and cryptic scrolls
                for power-ups!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="extrablocks-card">
              <picture>
                <!-- mobile -->
                <source
                  media="(max-width: 768px)"
                  srcset="
                    /img/extrablocks/rectangle-mobile1x.webp 1x,
                    /img/extrablocks/rectangle-mobile2x.webp 2x
                  "
                />
                <!-- Destkop -->
                <source
                  media="(min-width: 769px)"
                  srcset="
                    /img/extrablocks/rectangle-desktop1x.webp 1x,
                    /img/extrablocks/rectangle-desktop2x.webp 2x
                  "
                />
                <img
                  class="rectangle-img"
                  src="/img/extrablocks/extrablock2-mobile1x.webp"
                  alt="rectangle-img"
                  width="20"
                  height="20"
                />
              </picture>
              <h3 class="title-card">Tower Builder Mode</h3>
              <picture>
                <!-- mobile -->
                <source
                  media="(max-width: 768px)"
                  srcset="
                    /img/extrablocks/extrablock3-mobile1x.webp 1x,
                    /img/extrablocks/extrablock3-mobile2x.webp 2x
                  "
                />
                <!-- Destkop -->
                <source
                  media="(min-width: 769px)"
                  srcset="
                    /img/extrablocks/extrablock3-desktop1x.webp 1x,
                    /img/extrablocks/extrablock3-desktop2x.webp 2x
                  "
                />
                <img
                  class="extrablocks-img"
                  src="/img/extrablock/extrablocks3-mobile1x.webp"
                  alt="extrablocks1"
                  width="20"
                  height="20"
                />
              </picture>
              <p class="extrablocks-text">
                Customize your defense towers with different magical cores —
                fire, frost, vines, or lightning — to adapt to different enemy
                waves.
              </p>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
