<section class="game-description">
  <div class="flashlight-container"></div>
  <div class="container">
    <img
      class="description-icon"
      src="/img/monstr2.webp"
      alt="monstr1"
      width="20"
      height="20"
    />
    <h2 class="game-title">Game Description</h2>
    <div class="game-wrapper">
      <div class="tumb-game">
        <picture>
          <!-- mobile -->
          <source
            media="(max-width: 768px)"
            srcset="
              /img/game-description/mobile1x.webp 1x,
              /img/game-description/mobile2x.webp 2x
            "
          />
          <!-- Destkop -->
          <source
            media="(min-width: 769px)"
            srcset="
              /img/game-description/desktop1x.webp 1x,
              /img/game-description/desktop2x.webp 2x
            "
          />
          <img
            class="img-description"
            src="/img/game-description/mobile1x.webp"
            alt="game-description"
            width="20"
            height="20"
          />
        </picture>
      </div>
      <div class="text-wrapper">
        <p class="description-text">
          Welcome to Night at the Valley, an enchanting idle tower defense RPG
          where you’ll step into the shoes of Moo and Lulu, two brave guardians
          of Emerald Village. Mysterious forces threaten the peace of the land —
          it’s up to you to build and upgrade your defenses, cast magical
          spells, and uncover the truth behind the invading creatures.
        </p>
        <p class="description-text">
          Whether you’re an idle game fan or a strategy master, Night at the
          Valley offers a rich, rewarding experience packed with charm, mystery,
          and magical warfare. The village needs you. Are you ready to defend?
        </p>
      </div>
    </div>
  </div>
</section>
