<header>
  <div header-container>
    <nav data-menu>
      <a data-logo-link href="/">
        <img
          data-logo-img
          width="20"
          height="20"
          srcset="/img/logo_1x.jpg 1x, /img/logo_2x.jpg 2x"
          src="/img/logo_1x.jpg"
          alt="logo"
        />
      </a>

      <button data-burger="false" aria-label="Menu" aria-expanded="false">
        <svg class="icon" width="20" height="20">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>

      <ul data-nav-list>
        <li data-item-list><a class="nav-link" href="#home">Home</a></li>
        <li data-item-list>
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <li data-item-list>
          <a class="nav-link" href="game-description">Game Description</a>
        </li>
        <li data-item-list>
          <a class="nav-link" href="#extra-blocks">Extra Blocks</a>
        </li>
        <li data-item-list><a class="nav-link" href="#gallery">Gallery</a></li>
        <li data-item-list>
          <a class="nav-link" href="#key-features">Key Features</a>
        </li>
        <li data-item-list>
          <a class="nav-link" href="#main-characters">Main Characters</a>
        </li>
        <li data-item-list><a class="nav-link" href="#reviews">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>
