<section class="hero">
  <div class="hero-container">
    <div class="hero-right">
      <h1 class="hero-title">Night at the Valley</h1>
      <a
        href="https://play.google.com/store/apps/details?id=com.pitaya.natv&hl=en&gl=us"
        target="_blank"
        rel="noreferrer noopener"
        class="gplay-button"
      >
        Play Free
      </a>
      <p class="hero-text">
        Join Moo and Lulu in a Magical Defense! Strategize, Upgrade, and Protect
        Emerald Village from Enchanted Invasion!
      </p>
      <a
        data-fancybox
        href="https://www.youtube.com/watch?v=cOMpL73qVcE"
        aria-label="Play video"
      >
        <img
          src="https://img.youtube.com/vi/cOMpL73qVcE/hqdefault.jpg"
          alt="Defend the Valley Now! preview"
          data-video-thumb
        />
        <span class="video-title">▶ "Defend the Valley Now!"</span>
      </a>
    </div>
    <div class="tumb">
      <picture>
        <!-- mobile -->
        <source
          media="(max-width: 768px)"
          srcset="
            /img/hero/hero-1mobile1x.webp 1x,
            /img/hero/hero-1mobile2x.webp 2x
          "
        />
        <!-- Destkop -->
        <source
          media="(min-width: 769px)"
          srcset="
            /img/hero/hero-1desktop1x.webp 1x,
            /img/hero/hero-1desktop2x.webp 2x
          "
        />
        <img
          class="hero-img"
          src="/img/hero/hero-1mobile1x.webp"
          alt="Night at the Valley"
          width="20"
          height="20"
        />
      </picture>
    </div>
  </div>
</section>
