<section>
  <div class="key-features-container">
    <h2 class="key-features-title">Key Features</h2>
    <ul class="key-features-list">
        <li>Leaderboards and global challenges</li>
        <li>Dozens of tower combinations and tactical builds</li>
        <li>Story-rich progression with unfolding mysteries</li>
        <li>Idle tower defense mechanics with deep strategy</li>
        <li>Offline rewards and progression</li>
        <!-- <li>Idle tower defense mechanics with deep strategy</li> -->
        <li>Two main heroes with unique abilities and upgrade paths</li>
        <li>Seasonal content and events</li>
    </ul>
  </div>
</section>
