<section class="main-characters-section">
  <div class="main-characters-container">
    <h2 class="main-characters-title">Main Characters</h2>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="/img/main-characters/main-characters-monstr-desk.png"
      />
      <source
        media="(max-width: 1199px)"
        srcset="/img/main-characters/main-characters-monstr-mob.png"
      />
      <img
        class="main-characters-img"
        src="/img/main-characters/main-characters-monstr-mob.png"
        alt="Monstr"
      />
    </picture>
    <div class="main-characters-slider-container">
      <div class="swiper main-characters-slider">
        <ul class="swiper-wrapper main-characters-slider-list"></ul>
        <div class="swiper-pagination main-characters-slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
