<section class="main-characters-section">
  <div class="main-characters-container">
    <h2 class="main-characters-title">Main Characters</h2>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="/img/main-characters/main-characters-monstr-desk.png"
      />
      <source
        media="(max-width: 1199px)"
        srcset="/img/main-characters/main-characters-monstr-mob.png"
      />
      <img
        class="main-characters-img"
        src="/img/main-characters/main-characters-monstr-mob.png"
        alt="Monstr"
      />
    </picture>
    <div class="main-characters-slider-container">
      <div class="swiper main-characters-slider">
        <ul class="swiper-wrapper main-characters-slider-list">
          
          <!-- li -->
          <li class="swiper-slide main-characters-slider-item main-characters-slider-item-moo">
            <p class="main-characters-slider-item-title">MOO</p>  
            <img class="main-characters-slider-img"
                src="/img/main-characters/main-characters-moo-desk.png"
                 srcset="/img/main-characters/main-characters-moo-mob.png 320w,
                 /img/main-characters/main-characters-moo-desk.png 1200w"
                 sizes="(max-width: 1199px) 320px, 1200px"
                 alt="Avatar" 
              />             
               <p class="main-characters-slider-item-info">A clever guardian with control over elemental magic. He uses spells to slow and confuse enemies.</p>                     
            </li>    
            
            <li class="swiper-slide main-characters-slider-item main-characters-slider-item-lulu">
              <p class="main-characters-slider-item-title">LULU</p>  
              <img class="main-characters-slider-img"
                  src="/img/main-characters/main-characters-lulu-desk.png"
                   srcset="/img/main-characters/main-characters-lulu-mob.png 320w,
                   /img/main-characters/main-characters-lulu-desk.png 1200w"
                   sizes="(max-width: 1199px) 320px, 1200px"
                   alt="Avatar" 
                />             
                 <p class="main-characters-slider-item-info">Agile and fierce, Lulu’s tower upgrades pack a punch — she leads the charge with precision and power.</p>                     
              </li>      

              <li class="swiper-slide main-characters-slider-item main-characters-slider-item-bramble">
                <p class="main-characters-slider-item-title">ELDER BRAMBLE</p>  
                <img class="main-characters-slider-img"
                    src="/img/main-characters/main-characters-bramble-desk.png"
                     srcset="/img/main-characters/main-characters-bramble-mob.png 320w,
                     /img/main-characters/main-characters-bramble-desk.png 1200w"
                     sizes="(max-width: 1199px) 320px, 1200px"
                     alt="Avatar" 
                  />             
                   <p class="main-characters-slider-item-info">Mysterious druid who provides upgrades and guidance.</p>                     
                </li>      

                <li class="swiper-slide main-characters-slider-item main-characters-slider-item-foglings">
                  <p class="main-characters-slider-item-title">THE FOGLINGS</p>  
                  <img class="main-characters-slider-img"
                      src="/img/main-characters/main-characters-foglings-desk.png"
                       srcset="/img/main-characters/main-characters-foglings-mob.png 320w,
                       /img/main-characters/main-characters-foglings-desk.png 1200w"
                       sizes="(max-width: 1199px) 320px, 1200px"
                       alt="Avatar" 
                    />             
                     <p class="main-characters-slider-item-info">Mischievous but harmless spirits that help collect offline rewards.</p>                     
                  </li>      


        </ul>
        <div class="swiper-pagination main-characters-slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
