<section class="main-characters-section">
  <div class="main-characters-container">
    <h2 class="main-characters-title">Main Characters</h2>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          /img/main-characters/main-characters-monstr-desk@1x.png 1x,
          /img/main-characters/main-characters-monstr-desk@2x.png 2x
        "
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          /img/main-characters/main-characters-monstr-mob@1x.png 1x,
          /img/main-characters/main-characters-monstr-mob@2x.png 2x
        "
      />
      <img
        class="main-characters-img"
        src="/img/main-characters/main-characters-monstr-desk@1x.png"
        alt="Monstr"
        width="97"
        height="105"        
      />
    </picture>

    <div class="main-characters-slider-container">
      <div class="swiper main-characters-slider">
        <ul class="swiper-wrapper main-characters-slider-list">
          <li
            class="swiper-slide main-characters-slider-item main-characters-slider-item-moo"
          >
            <p class="main-characters-slider-item-title">MOO</p>
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/main-characters/main-characters-foto-img1-desk@1x.png 1x,
                  /img/main-characters/main-characters-foto-img1-desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/main-characters/main-characters-foto-img1-mob@1x.png 1x,
                  /img/main-characters/main-characters-foto-img1-mob@2x.png 2x
                "
              />
              <img
                class="main-characters-slider-img"
                class="main-characters-img"
                src="/img/main-characters/main-characters-foto-img1-desk@1x@1x.png"
                alt="Main characters title"
                width="200"
                height="200"
              />
            </picture>
            <p class="main-characters-slider-item-info">
              A clever guardian with control over elemental magic. He uses
              spells to slow and confuse enemies.
            </p>
          </li>

          <li
            class="swiper-slide main-characters-slider-item main-characters-slider-item-lulu"
          >
            <p class="main-characters-slider-item-title">LULU</p>

            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/main-characters/main-characters-foto-img2-desk@1x.png 1x,
                  /img/main-characters/main-characters-foto-img2-desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/main-characters/main-characters-foto-img2-mob@1x.png 1x,
                  /img/main-characters/main-characters-foto-img2-mob@2x.png 2x
                "
              />
              <img
                class="main-characters-slider-img"
                class="main-characters-img"
                src="/img/main-characters/main-characters-foto-img2-desk@1x@1x.png"
                alt="Main characters title"
                width="200"
                height="200"
              />
            </picture>

            <p class="main-characters-slider-item-info">
              Agile and fierce, Lulu’s tower upgrades pack a punch — she leads
              the charge with precision and power.
            </p>
          </li>

          <li
            class="swiper-slide main-characters-slider-item main-characters-slider-item-bramble"
          >
            <p class="main-characters-slider-item-title">ELDER BRAMBLE</p>

            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/main-characters/main-characters-foto-img3-desk@1x.png 1x,
                  /img/main-characters/main-characters-foto-img3-desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/main-characters/main-characters-foto-img3-mob@1x.png 1x,
                  /img/main-characters/main-characters-foto-img3-mob@2x.png 2x
                "
              />
              <img
                class="main-characters-slider-img"
                class="main-characters-img"
                src="/img/main-characters/main-characters-foto-img3-desk@1x@1x.png"
                alt="Main characters title"
                width="200"
                height="200"
              />
            </picture>
            <p class="main-characters-slider-item-info">
              Mysterious druid who provides upgrades and guidance.
            </p>
          </li>

          <li
            class="swiper-slide main-characters-slider-item main-characters-slider-item-foglings"
          >
            <p class="main-characters-slider-item-title">THE FOGLINGS</p>

            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/main-characters/main-characters-foto-img4-desk@1x.png 1x,
                  /img/main-characters/main-characters-foto-img4-desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/main-characters/main-characters-foto-img4-mob@1x.png 1x,
                  /img/main-characters/main-characters-foto-img4-mob@2x.png 2x
                "
              />
              <img
                class="main-characters-slider-img"
                class="main-characters-img"
                src="/img/main-characters/main-characters-foto-img4-desk@1x@1x.png"
                alt="Main characters title"
                width="200"
                height="200"
              />
            </picture>
            <p class="main-characters-slider-item-info">
              Mischievous but harmless spirits that help collect offline
              rewards.
            </p>
          </li>
        </ul>
        <div class="swiper-pagination main-characters-slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
