<section class="reviewes-section">
  <div class="reviewes-container">    
    <h2 class="reviewes-title">Reviewes</h2>
    <picture >
      <source
        media="(min-width: 1200px)"
        srcset="/img/reviewes/reviewes-monstr-desk.png"
      />
      <source
        media="(max-width: 1199px)"
        srcset="/img/reviewes/reviewes-monstr-mob.png"
      />
      <img
        class="reviewes-img"
        src="/img/reviewes/reviewes-monstr-mob.png"
        alt="Monstr"
      />
    </picture>
    <div class="reviewes-slider-container">
      <div class="swiper reviewes-slider">
        <ul class="swiper-wrapper reviewes-slider-list"></ul>
        <div class="swiper-pagination reviewes-slider-pagination"></div>
      </div>
    </div>
    
  </div>
</section>
